<!DOCTYPE html>
<html lang="nl">
<head>
  <% include ./partials/head %>
</head>
<body class="min-h-screen">
  <% include ./partials/nav %>
  <main class="mx-auto max-w-md px-4 py-6">
    <%- body %>
  </main>
  <script src="/app.js" defer></script>
</body>
</html>
